@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

// PRIMARY COLOR
$cyan: hsl(172, 67%, 45%);

// NEUTRAL COLORS
$dark-cyan: hsl(183, 100%, 15%);
$grayish-cyan: hsl(186, 14%, 43%);
$lighter-cyan: hsl(184, 14%, 56%);
$light-cyan: hsl(185, 41%, 84%);
$white-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

// INPUT MIXIN
@mixin input {
  border: none;
  background-color: $white-cyan;
  padding: 1rem;
  width: 100%;
  display: block;
  margin: 0.75rem 0;
  text-align: right;
  color: $dark-cyan;
  font-size: 2rem;
  font-family: inherit;
  font-weight: 700;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 5% 50%;

  &::placeholder {
    color: $light-cyan;
    font-size: 2.5rem;
    text-align: left;
    font-weight: 400;
  }

  &:focus {
    outline-color: cyan;
  }
}

// Breakpoint
$lg: 64em; //1024px
$xl: 96em; // 1536px

// Amount calculation mixin
@mixin calculation {
  display: flex;
  justify-content: space-between;
}


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px;

  @media (min-width: $lg) {
    font-size: 70%;
  }

  @media (min-width: $xl) {
    font-size: 80%;
  }
}

body {
  font-family: "Space Mono", serif;
  background-color: $light-cyan;
}

// Logo
.heading {
  margin: 4rem auto;
  text-align: center;


  @media (min-width: $lg) {
    margin-top: 20rem;
  }

  @media (min-width: $xl) {
    margin-top: 25rem;
  }
}

// Main content
.main {
  background-color: $white;
  padding: 2.5rem;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;

  @media (min-width: $lg) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
  }
}

// Input section
.input {
  color: $grayish-cyan;

  &__bill {
    @include input;
    background-image: url(../images/icon-dollar.svg);
  }

  &__tip-title {
    margin-top: 3rem;
    margin-bottom: 1.25rem;
  }

  &__tip-container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, calc(50% - 1rem));
    gap: 2rem;

    @media (min-width: $xl) {
      grid-template-columns: repeat(3, calc(35% - 1rem));
    }

  }

  &__tip-buttons {
    font-size: 2rem;
    border: none;
    background-color: $dark-cyan;
    color: $white;
    border-radius: 4px;
    padding: 0.8rem;
    letter-spacing: 0.1rem;
    font-family: inherit;

    &:active {
      background-color: $cyan;
      color: $dark-cyan;
    }
  }

  &__tip-custom {
    text-align: right;
    padding: 1rem;
    font-family: inherit;
    font-size: 2rem;
    border: none;
    background-color: $white-cyan;
    font-weight: bold;

    &::placeholder {
      color: $grayish-cyan;
    }

    &:focus {
      outline-color: cyan;
    }
  }
}

// Amount section
.amount {
  margin-top: 3rem;

  &__people-title {
    color: $grayish-cyan;
  }

  &__people {
    @include input;
    background-image: url(../images/icon-person.svg);
    margin-bottom: 3rem;
  }

  &__calculation {
    background-color: $dark-cyan;
    padding: 3rem 2rem;
    border-radius: 15px;
  }

  // Tip section
  &__calculation-tip-container {
    @include calculation;
  }

  // Total section
  &__calculation-total-container {
    @include calculation;
    margin: 2rem 0;
  }

  // Both tip and total
  &__calculation-title {
    color: $white;
    font-size: 1.5rem;
    
  }

  &__calculation-description {
    font-size: 1.2rem;
    color: $lighter-cyan;
  }

  &__calculation-totals {
    font-size: 3rem;
    color: $cyan;
  }
  
  // Rest Button
  &__calculation-reset {
    border: none;
    background-color: $grayish-cyan;
    color: $dark-cyan;
    width: 100%;
    font-size: 2rem;
    padding: 1.5rem 0;
    border-radius: 10px;
    font-weight: 700;

    &:active {
      background-color: $cyan;
    }
  }
}

.attribution {
  margin-top: 1rem;
  text-align: center;

  @media (min-width: $lg) {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
